*.iml
.classpath
.idea/
.project
.settings/
buildtools/.settings/
buildtools/target/
core/.settings/
core/build/
core/input/
core/output/
core/target/
core/testdata/
distribution/.settings/
distribution/target/
examples/.settings/
examples/target/
foo
integration/.settings/
integration/target/
math-tests/
math/.settings/
math/target/
target/
